* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: rgb(1, 115, 199);
    background-image: url(./img/granada.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    font-family: "Montserrat";
}

.app {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: "Montserrat";
}

.font-face-nm {
    font-family: "NeueMetana";
    font-size: 30px;

    padding-bottom: 20px;
}
